* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff758c, #ff7eb3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 300px;
  animation: fadeIn 1.2s ease;
}

input, button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}
button {
  cursor: pointer;
}
